@import "materialize/materialize";

$primary: #2196f3;
$primary-dark: #1c7bc7;
$secondary: #10c583;
$secondary-dark: #0ea26c;
$dark: #303e56;
$grey: #595f72;

$btn-height: 36px;

body {
	background: #fff;
	color: $grey;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fredoka One', sans-serif;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

header {
	position: absolute;
	width: 100%;

	nav {
		//padding: 20px 0px;
		transition: 0.4s all;

		* {
			transition: 0.4s all;
		}
		.header-text {
			color: $grey;
			.text-large {
				font-family: 'Fredoka One', sans-serif;
			}
		}

		&.nav-transparent {
			height: 300px;
			background-color: #ffffff;
			//background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%238b77ab' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
			background-size: 20%;
			.header-text {
				padding: 80px;
				.text-large {
					font-size: 48px;
				}
				.text-small {
					font-size: 24px;
				}
			}
		}
		&.nav-colored {
			background: white;
			background-color: #ffffff;
			//background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%238b77ab' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
			background-size: 20%;
			.header-text {
				.text-small {
					opacity: 0;
				}
			}
		}

		.sidenav-trigger {
			color: $grey;
		}
		ul {
			text-align: center;
			li {
				display: inline;
				float: none;
				a {
					display: inline-block;
					position: relative;
					color: $grey;
					transition: 0.4s all;
					font-family: 'Fredoka One', sans-serif;
					/*   Animated Underline    */
					&:hover, &.active {
						background: transparent;
						color: $primary-dark;
						transform: scale(1.05);
					}
					&:after {    
					  background: none repeat scroll 0 0 transparent;
					  bottom: 10;
					  content: "";
					  display: block;
					  height: 2px;
					  left: 50%;
					  position: absolute;
					  background: $primary-dark;
					  transition: width 0.3s ease 0s, left 0.3s ease 0s;
					  width: 0;
					}
					&:hover:after, &.active:after { 
					  width: 100%; 
					  left: 0; 
					}
					/*    Animated Underline   */
				}
			}
		}
	}
	.btn {
		position: absolute;
		top: 5px;
		right: 15px;
	}
}

main {
	margin-top: 300px;
	flex: 1 0 auto;
	p {
		line-height: 1.75em;
	}
}

footer {
	padding: 20px 0px 20px 0px;
	label {
		color: $primary;
	}
	a {
		color: $grey;
	}
}

.row{
	margin-bottom: 0px;
}

nav {
	box-shadow: none;
}

input, textarea {
	width: 100%;
	background-color: rgba(0,0,0,0.05);
	border: 0;
	box-shadow: 0 1px 0 0 rgba(255,255,255,0.05), inset 0 1px 2px 0 rgba(0,0,0,0.15);
	border-radius: 4px;
	color: #434e5a;
	font-family: Lato,sans-serif;
	font-size: 16px;
	//padding: 12px 15px;
	height: 44px;
	padding: 12px;
	//width: 339px;
	outline: none;
	margin-bottom: 10px;

	&:focus{
		background: white;
	}
}

textarea {
	height: 64px;
}

.btn {
	height: $btn-height;
	line-height: $btn-height;
	border-radius: 4px;
	box-shadow: none;
	transition: 0.4s all;

	&:hover {
		transform: scale(1.025);
	}
}

.btn-primary {
	background: $primary;
	&:hover{
		background: $primary-dark;
		box-shadow: none;
	}
	&.outline {
		background: transparent;
		line-height: $btn-height - 4px;
		border: 2px solid $primary;
		color: $primary;
	}
}

.btn-secondary {
	background: $secondary;
	&:hover{
		background: $secondary-dark;
		box-shadow: none;
	}
	&.outline {
		background: transparent;
		line-height: $btn-height - 4px;
		border: 2px solid $secondary;
		color: $secondary;
	}
}

.btn-round {
	border-radius: 22px;
	padding: 0px 22px;
}

.parallax-container .parallax img {
	min-width: initial;
	min-height: initial;
}

h5 {
	color: $primary;
}


.links {
	a {
		filter: brightness(0) opacity(25%);
		img {
			width: 64px;
			height: 64px;
			margin-right: 15px;
		}
	}
}

.section {
	margin: 120px 0px;
}

@media only screen and (min-width: 993px){
	.container {
	    width: 85%;
	}
}
