html
	head
		base(href="/")
		link(rel='stylesheet' href='./css/index.css')
		link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet")

	body(ng-app='heyhaemin' ng-controller='mainController')
		include header.pug
		.div(style="background-image: url('https://media.giphy.com/media/l2QZW6wps81QYSGmQ/giphy.gif');background-repeat: repeat; height:100%;")
			.div(style='padding-top:50px; height:450px;' ng-show='intro' ng-cloak)
				include intro.pug


	script(src='https://code.jquery.com/jquery-2.2.4.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.min.js')
	script(src='./js/app.js')
	script(src='./js/controller.js')
	script(src='./js/config.js')
	script(src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js")
	script.
		$(document).ready(function(){
			 $(".button-collapse").sideNav({
			 	menuWidth: 300
			 });
		});		