header
	nav
		.nav-wrapper
			a.brand-logo.center
				.img-wrapper
					include ../dist/img/namu_savage.svg
			a(href="#" data-activates='mobile-demo' class='button-collapse')
				i.material-icons(style='color:#444;') menu

			ul(id='nav-mobile' class='hide-on-med-and-down')
				.nav-text.img-wrapper
					li: a(ng-click= 'me = true; portfolio = false') Me
					li: a(ng-click='portfolio = true; me = false') Projects
					li: a(href='#') Contact

	ul(class='side-nav' id='mobile-demo')
		li: a(href='#') Me
		li: a(href='#') Projects
		li: a(href='#') Contact
			//.nav-content(class='hide-on-med-and-down')
				ul(class='tabs tabs-transparent')
					li.tab: a(href='#') Me
					li.tab: a(href='#') Projects
					li.tab: a(href='#') Contact