.container(ng-controller='mainController')
	//- .bubble(style="background-image: url('https://media.giphy.com/media/l2QZW6wps81QYSGmQ/giphy.gif');background-repeat: repeat;")
	.bubble
		h4 Hello my name is Namu. <br> I am a good doggo of Haemin. <br> To see her profile and cool projects, click the below links. 
		.list
			ul.center
				li: a(href='#') About Haemin
				li: a(href='#') Haemin's projects
				li: a(href='#') ~Funzies~
				li: a(href='#') Contact her