.container(ng-controller='mainController')
	.bubble(style="background-image: url('https://media.giphy.com/media/l2QZW6wps81QYSGmQ/giphy.gif');background-repeat: repeat;")
		h1 Hello my name is Namu. I am a good doggo. Very good doggo. Wanna see my pics? ;););)
