#about.section.scrollspy: .container
	.row
		.col.s12.l6.center
			div(style='max-width:400px;')
				img.responsive-img(src='img/haemin.jpg')
		.col.s12.l6
			h1 Hi, I'm Haemin 
			h6 (it's pronounced as hey-min)
			p I'm a Software Engineer currently living in Denver, Colorado. 
				| I have a Bachelors of Science degree in Computer Science from the University of Michigan. 
				| My primary focus is in Front End Development but I hope to become a Technical Product Manager in the near future.
				| In my free time, I like to read, lift, take online classes, and go on food adventures.
			h6 What I like to do
			p JavaScript | HTML | Pug | CSS | SCSS | AngularJS | Node.js | Python | C++
			a(href='HaeminParkResume.pdf' target='_blank') Resume
				i(class="material-icons" style='vertical-align: middle;') file_download
