#about.section.scrollspy: .container
	.row
		.col.s12.l6.center
			img.responsive-img(src='img/haemin.jpg' style='max-width: 400px')
		.col.s12.l6
			h1 Hi, I'm Haemin
			p I'm a baby + senior haem living in the fine city of Hamville where the scourge known as the Hinox plagues the city with her foul nem-se