#work.section.scrollspy: .container
	.row
		.col.s12.m6.center
			.hover
				figure
					img.responsive-img(src='img/chart-1.png')
		.col.s12.m6.center
			.hover
				figure
					img.responsive-img(src='img/qa-tool-1.png')
		.col.s12.m6.center
			.hover
				figure
					img.responsive-img(src='img/hotpath-1.png')

		.col.s12.m6.center
			.hover
				figure
					img.responsive-img(src='img/patternpal-1.png')